.productBox {
    border-width: 1px;
    border-color: rgba(0,0,0,0.4);
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-family: 'Monsterrat' sans-serif;
    transition: all .2s ease-in-out;
    cursor: hand;
}
.productBox:hover {
    transform: scale(1.04);
}

h2.productBox-name {
    display: none;
}
/*.productBox:hover > h2.productBox-name {
    position: absolute;
    display: block !important;
    transform: position();
    background-color: rgba(0,0,0,0.8);
    padding: 5px 5px 5px 5px;
    color: white;
}*/
.productBox .price {
    position: fixed;
    transform: translateX(-420px) translateY(190px);
    font-size: 20px;
}
.productBox-image {
    max-height: 200px;
    max-width: 200px;
}
.categoryPage {
    display: flex;
}

.productBox>a {
    text-decoration: none;
    color: black;
}

.productBox-name {
    margin-left: 3px;
}
