.navbarContainer {
  width: 100%;
  background-color: red;
  height: 30px;
}

.navbar-logo {
  float: left;
}

.navbar-buttons {
  float: right;
}

.column-images {
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
}

.column-inner-left {
  margin: 10px 10px 10px 10px;
}

.column-item-left {
  flex: 1;
}

.column-item-middle {
  width: 50%;
}

.column-item-middle-inner {
  margin: 10px 10px 10px 10px;
}

.column-item-right {
  width: 20%;
}

.column-item-right-inner {
  margin: 10px 10px 10px 10px;
}

.columnContainer {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.productPage {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .columnContainer {
    display: block;
  }
}